@font-face {
  font-family: 'MaterialIcons';
  src: url('/assets/fonts/MaterialIcons-Regular.ttf');
}
@font-face {
  font-family: 'Open Sans';
  src: url('/assets/fonts/OpenSans-Regular.ttf');
}
@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto-Regular.ttf');
}

.h1, h1, .h2, h2, .h3, h3 {
  font-family: var(--font-family-title);
}
.h1, h1 {
  font-size: var(--size-font-title-xl);
}
.h2, h2 {
  font-size: var(--size-font-title-large);
}
.h3, h3 {
  font-size: var(--size-font-title-medium);
}
.body, body {
  background-color: var(--color-background-base);
}
.bg-base {
  background-color: var(--color-background-base);
}
.code {
  font-family: var(--font-family-code);
  font-size: var(--size-font-code);
}
.btn {
  font-family: var(--font-family-button);
  font-size: var(--size-font-button);
  border-radius: var(--shape-corner-button);
  padding: var(--size-padding-button-vertical) var(--size-padding-button-horizontal);
}
.btn:hover {
  cursor: var(--cursor-button-active);
}
.btn-primary {
  background-color: var(--color-background-button-primary-base);
  color: var(--color-font-button-primary);
  border: var(--color-border-button-primary-base);
}
.btn-primary:hover {
  background-color: var(--color-background-button-primary-active);
}
.btn-secondary {
  background-color: var(--color-background-button-secondary-base);
  color: var(--color-font-button-secondary);
  border: var(--color-border-button-secondary-base);
}
.btn-secondary:hover {
  background-color: var(--color-background-button-secondary-active);
}
.divide {
  background-color: var(--color-border-divide);
}
.divide-x {
  width: var(--size-border-divide);
}
.divide-y {
  height: var(--size-border-divide);
}
