@font-face {
  font-family: 'MaterialIcons';
  src: url('/assets/fonts/MaterialIcons-Regular.ttf');
}
@font-face {
  font-family: 'Open Sans';
  src: url('/assets/fonts/OpenSans-Regular.ttf');
}
@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto-Regular.ttf');
}

.node {
  stroke: var(--color-border-button-primary-base);
  stroke-width: var(--size-border-node);
  fill: var(--color-background-button-primary-base);
}
.edge {
  stroke: var(--color-border-button-primary-base);
  stroke-width: var(--size-border-edge);
}
.node:hover {
  fill: var(--color-background-button-primary-active);
}
.node-title {
  font-family: var(--font-family-button);
  font-size: var(--size-font-button);
  padding: var(--size-padding-button-vertical) var(--size-padding-button-horizontal);
}
.node-primary {
  color: var(--color-font-button-primary);
  fill: var(--color-background-button-primary-base);
  stroke: var(--color-border-button-primary-base);
}
.node-cover {
  opacity: 0;
}
